#footer {
    background-color: #222;
}
#footer-wrap {
    margin: 0 auto;
    width: 1280px;
    height: 120px;

    display: flex;
    align-items: center;
}
#footer-wrap > p {
    padding: 0 1rem;
    color: white;
}


@media only screen and (max-width: 768px) {
    #footer-wrap {
        width: 100%;
    }
}