#header {
    width: 100vw;
    background-color: #badaef;
}
#header-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    z-index: 10;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header-fixed {
    padding: 0 20rem;
    position: fixed;
    width: 100% !important;
    background-color: #9887ff;
    box-shadow: 0 1px 5px 1px #999;
    transition: all ease-in-out 0.1s;

}

/* 로고 */
#header-wrap > #logo {
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, 0.9);
}
#header-wrap > #logo > h2 {
    cursor: pointer;
}
/* 메뉴 */
#header-wrap > .header-menus {
    padding: 2rem 1rem
}
#header-wrap > .header-menus > ul {
    display: flex;
}
#header-wrap > .header-menus > ul > li {
    margin: 0 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
.header-menus-toggle {
    display: none;
    padding: 2rem 1rem;
}
.header-menus-toggle > .fa-bars{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}



@media only screen and (max-width: 768px) {
    #header-wrap {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header-menus-toggle {
        display: block;
    }
    #header-wrap > .header-menus {
        padding: 0;
        width: 100%;
        display: none;
    }
    #header-wrap > .header-menus.toggle-active {
        display: block;
        width: 100%;
    }
    .header-menus > ul{
        display: flex;
        flex-direction: column;
        background-color: #bd8743;
    }
    #header-wrap > .header-menus > ul > li {
        margin: 0;
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

}