#intro {
    background-color: rgba(58, 107, 213, 0.3);
}
#intro-wrap {
    margin: 0 auto;
    padding: 1rem 0;
    width: 1280px;
}

#intro-wrap > h2{
    padding: 2rem 0;
    font-size: 3rem;
    text-align: center;
    color: #fff;
}
#intro-wrap > #intro-contents {
    padding: 1rem 2rem;
    background-color: white;
    line-height: 1rem;
    border-radius: 3rem;
}
#intro-wrap > #intro-contents > span{
    line-height: 1.5rem;
    color: #555;
}
#intro-wrap > #info {
    margin: 2rem auto;
}
.info-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-list > div {
    margin: 1rem 2rem;
    padding: 1rem;
    width: 15rem;
    height: 7rem;
    border-radius: 5rem;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #999;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-list > div > h3{
    text-align: center;
    font-size: 1.4rem;
    color: #805a2c;
}
.info-list > div > p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
}
.info-list > div > hr{
    margin: 0.5rem 0;
    border: 2px solid #bd8743;
}


@media screen and (max-width: 768px) {
    #intro-wrap {
        width: 100%;
    }
    #info {
        display: flex;
        flex-direction: column;
    }
    .info-list {
        display: flex;
        flex-direction: column;
    }
}
