#project {
    background-color: #eee;
}
#project-wrap {
    margin: 0 auto;
    padding: 1rem 0;
    width: 1280px;
}
#project-wrap > h2 {
    padding: 2rem 0;
    font-size: 3rem;
    text-align: center;
    color: #111;
}

.project-box {
    margin: 1rem;
    padding: 1rem 0;
    display: flex;
    border-bottom: 1px solid #999999;
}
.project-box:nth-child(odd) {
    flex-direction: row-reverse;
}

.project-box > img{
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 10px 1px #999;
}
.project-box > .project-contents{
    padding: 0 1rem;
}

.project-contents > h3 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}
.project-contents > ul > li {
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: #333;
}


@media screen and (max-width: 768px) {
    #project-wrap {
        width: 100%;
    }
    .project-box {
        flex-direction: column;
    }
    .project-box:nth-child(odd) {
        flex-direction: column;
    }
    .project-box > img{
        margin: 0 auto;
        width: 100%;
        height: 15rem;
    }
    .project-contents > h3 {
        margin: 1rem 0;
        padding: 1rem 0;
        font-size: 1.4rem;
    }
}